# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Custom
/main.go
*.shp
*.shx
*dbf
out
out.*
out2.*
test
test.*
*.geojson
/data
gis-utils
/clip-shapefile
/.vscode
*.db
*.svg
*.png
*.pbf
debug
notes
render
*.tiff
style*yaml

cmd/clip-shapefile/clip-shapefile
cmd/tiles/tiles
cmd/query/query
